body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set Home page */
.product-view-model {
    border: 1px solid grey;
    width: 30%;
    margin: 10px;
    padding: 5px;
    text-align: center;
    font: bold 12px verdana;
    float: left;
}

.product-view-model-img {
    margin: 5px;
    padding: 5px;
}

/* Set the display of the Admin Panel */
/*.admin-product {
    border: 1px solid blue;
    margin: 10px;
    padding: 5px;
}

.admin-customer {
    border: 1px solid blue;
    margin: 10px;
    padding: 5px;
}*/

.container body-content > footer.fix-footer-position {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
}
