<div>
    <form>
        <h2>Native Javascript</h2>
        First value:   <input id="first" type="text" /><br>
        Second value:   <input id="second" type="text" /><br>
        <button onclick="additon()" id="additon" type="button">Add</button>
        <button onclick="subtraction()" id="subtraction" type="button">Substract</button>
        <button onclick="multiplication()" id="multiplication" type="button">Multiply</button>
        <button onclick="division()" id="division" type="button">Divide</button><br />
        Result: <input id="result" type="text" readonly /><br />
    </form>
</div>

<div>
    <h2>Calculator - AJAX</h2>
    First value:   <input type="text" id="txtValue1"/><br>
    Second value:   <input type="text" id="txtValue2"/><br>
    <input type="button" value="Add" id="btnAdd">
    <input type="button" value="Substract" id="btnMinus">
    <input type="button" value="Multiply" id="btnMultiply">
    <input type="button" value="Divide" id="btnDivide"><br>
    Result from Math API Service: <input type="text" id="txtResult" readonly /><br>
</div>

